.button-container {
  font-family: "Cera Round Pro";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
  background: #2e2e2e;
  mask: url("../../images/button-vector.png");
  -webkit-mask: url("../../images/button-vector.png");
  width: 186px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: 1px solid #2e2e2e;
  transition: 1s;
  letter-spacing: 1px;
  border-radius: 12px;
}

.button-container:hover {
  mask: none;
  -webkit-mask: none;
  background-color: #2e2e2e;
  transition: ease-in-out;
}

@media screen and (min-width: 376px){
  .button-container{
    width: 211px;
    height: 57px;
  }
}
@media screen and (min-width: 640px){
.button-container{
    width: 199px;
    height: 44px;
  }
}
@media screen and (min-width: 812px){
  .button-container{
    width: 211px;
    height: 57px;
  }
}
/* @media screen and (min-width: 834px){

}
@media screen and (min-width: 1194px){

}
@media screen and (min-width: 1440px){

}
 */
